// 颜色定义规范
$color-background = #EFF0F2 //网站背景色
$color-theme = #ff3340 //品牌标准色
$color-theme-orange = #ffae33 //品牌辅助色1
$color-theme-black = #d93f30 //品牌辅助色2
$color-theme-white = #ffffff //品牌辅助色3
$color-text = #08090a //大面积关键性阅读文字、内容、标题、输入框内文字
$color-text-d = #75787f //二级文字信息，提示文案，辅助文案颜色
$color-text-l = #b7b9bf //输入框预设文字
$color-text-ll = #d4d5d8 //输入框描边，分割线
$color-use = #52cc68 //功能色，正确
$color-theme-active = #ff99a0
$color-theme-disabled = #cc3d46
$color-error = #ff3340
$color-info = #eff0f2

//字体定义规范
$font-size-small = 1rem
$font-size-normal = 1.2rem
$font-size-medium = 1.4rem
$font-size-medium-x = 1.6rem
$font-size-large = 1.8rem
$font-size-large-x = 2rem
$font-size-large-xx = 2.2rem
$font-size-coupons = 2.5rem

$font-size-coin = 6rem
//高度
$margin-top-5 = 0.5rem
$margin-top-10 = 1rem
$margin-top-8 = 0.8rem
//圆角
$border-radius = 0.4rem

//阴影
$shadow = 0 0.5rem 2rem 0 rgba(8, 9, 10, 0.2)

//字体粗细
$font-weight = 300

//字体高度
$line-height = 2rem