#app
  .container
    .weui-cell_access
      &.active
        background none
    .weui-cell
      padding 1.8rem 1.6rem
      box-sizing border-box
      .vux-label
        font-size 1.4rem
        color #08090a
        height 1.4rem
      .vux-label-desc
        font-size 1.2rem 
        height 1.2rem
        color #75787f 
        margin-top 0.8rem
        vertical-align sub
      .weui-cell__ft
        font-size 1.2rem
        padding-right 1.5rem
        color #75787f
        line-height 1.2rem
    .vux-actionsheet-menu-default,.weui-actionsheet__cell
      padding 1.6rem 0
      font-family PingFangSC
      text-align center
      font-size 1.8rem
      font-weight 300
    
    .weui-cells.vux-no-group-title
      &:first-child
        margin-top 0
    .vux-popup-picker-header
      color red
    
    .vux-x-input.weui-cell
      height 5rem
      line-height 5rem
      .weui-cell__bd.weui-cell__primary
        height 1.4rem
        line-height 1.4rem
        .weui-input
          height 1.4rem
          line-height 1.4rem
          font-size 1.4rem
    .vux-tab
      height 4.1rem
      .vux-tab-item
        height 4.1rem
        font-size 1.4rem
    .classError
      .weui-cell__ft
        color #ff3340
    .classProgress
      .weui-cell__ft
        color #75787f
    .classSuccess
      .weui-cell__ft
        color #51cc68
        padding-right 0
    .weui-label
      font-size 1.4rem
      .vux-popup-picker-value.vux-cell-value
        font-size 1.4rem
    .boxContainer
      &:nth-child(2)
        .weui-cells
          margin-top 0
      .weui-cells
        margin-top 0.8rem
    .vux-popup-picker-select
      font-size 1.4rem
      line-height 1.4rem
    .vux-cell-value
      color #08090a
    .weui-switch:checked,.weui-switch-cp__input:checked ~ .weui-switch-cp__box 
      border-color: #ff3340;
      background-color: #ff3340;
.dp-container
  .dp-header
    .dp-item
      font-size 1.6rem
    .dp-item.dp-right
      color #ff3340
    .dp-item.dp-left
      color #08090a
.weui-dialog
  .weui-dialog__title
    font-size 2rem
    font-weight 300
    color#08090a
  .weui-dialog__hd
    padding 2.8rem 0 1.6rem 0
  .weui-dialog__bd
    font-size 1.4rem
    color #75757f
    padding-bottom 2rem
    line-height 2.2rem
  .weui-dialog__btn
    font-size 1.6rem
    font-weight 300
    padding 1.7rem 0
    line-height 1.6rem
  .weui-dialog__btn_primary
    color #ff3340
  .weui-dialog__btn:after
    height 50%
    top 25%
.vux-popup-picker-container
  .vux-popup-picker-header
    color #ff3340
    font-size 1.6rem
  .scroller-item
    font-size 1.6rem
    font-weight 300
.weui-toast
  font-size 1.2rem
.vux-toast
  .vux-toast-bottom
    .weui-toast__content
      font-size 1rem
